.logo-container {
    padding-left: 40px;
}
.logo {
    width: 80px;
    height: 80px;
}

.logout-text, .fas {
    font-size: 25px;
    color: white;
}

.input-group {
    width: 60vw !important;
}

.form-control {
    width: 50vw !important;
}

.query-information {
    font-size: 20px;

}
.my-custom-scrollbar {
    position: relative;
    height: 75vh;
    overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
  }

.fa-facebook-square, .fa-twitter-square, .fa-linkedin-square {
    font-size: 80px;
    color: #ffffff;
}
.fa-facebook-square:hover, .fa-twitter-square:hover, .fa-linkedin-square:hover {
    color: #0275d8;
    cursor: pointer;
}

.copyrights {
    font-size: 20px;
    color: #ffffff;
}